@model List<Animal>

    <h2>All Animals</h2>

    <p><a class="btn btn-primary" asp-action="New">Add New Animal</a></p>
    <table class="table table-bodered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Color</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var animal in Model)
            {
                <tr>
                    <td>@animal.Id</td>
                    <td>@animal.Name</td>
                    <td>@animal.Age</td>
                    <td>@animal.Color</td>
                    <td>
                        <a 
                        asp-action="Edit"
                        class="btn btn-info" 
                        asp-route-Id="@animal.Id">
                         Edit</a>&nbsp;
                        <a 
                        class="btn btn-danger delete" 
                        data-id="@animal.Id"
                        data-controller="Animal"
                        data-action="delete"
                        data-body-message="Are you sure want to delete?"
                        >Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>